{{ define "main" }}
    <!-- Hero -->
    <section class="hero container">
        <h1>Leasing av varebil uten krav til innskudd</h1>
        <h3>Finn den perferkte varebilen for deg,  med gunstig finansiering, raskest mulig levering og personlig service.</h3>
        <p>Finner du ikke bilen du ser etter? Vi har biler som ikke annonseres, så ikke vent,</p>
        <a href="kontakt" class="btn">Snakk med oss i dag!</a>
    </section>

    <!-- Biler -->   
    <section class="car-list container">
        <h2>Våre varebiler for leasing</h2>
        <div id="filter-sort-container"></div>
        <div class="main-cars-right">
            <div id="main-cars-grid" data-page="frontpage" class="grid-container"></div>
        </div>
    </section>    
{{ end }}