{{ define "main" }}
<section class="compare container">

    <h1>Sammenlign biler</h1>

    <div class="compare-container">

        <div id="compare-loader">Laster sammenligning...</div>

        <div id="compare-empty" style="display:none;">
            <p>Du har ikke valgt noen biler å sammenligne ennå.</p>
            <a href="/biler/">Se alle biler</a>
        </div>
    
        <!-- Selve tabellen -->
        <div id="compare-grid" class="grid-container" style="display:none;"></div>
    </div>
</section>
{{ end }}
