<div class="form-container" id="interesseskjema">
    <h2 style="margin-top: 0;">Interessert i {{ .Params.brand }} {{ .Title }}?</h2>
    <p>Fyll ut skjemaet under, så kontakter vi deg med et uforpliktende tilbud på denne bilen.</p>
    
    <form action="https://usebasin.com/f/210493886b91" method="POST" id="form" >
        <!-- 1. Hidden field for price with visible label -->
        <input type="hidden" name="merke" value="{{ .Params.brand }}">
        <input type="hidden" name="modell" value="{{ .Title }}">
        <input type="hidden" name="url" value="{{ .Permalink }}">
        {{ with .Params.quote }}
            <input type="hidden" name="quote" value="{{ . }}">
        {{ end }}
        <input type="hidden" name="_next" value="{{ "/takk/" | absURL }}">

         <div pricing>
            <label class="display-valprop" onclick="toggleFaq(this)">
                <input type="hidden" id="leasingalternativ" name="leasingalternativ" value="{{ with .Params.pricezero }} {{ . }},- mnd. {{ end }}">
                <p>{{ with .Params.pricezero }} Fra kr {{ . }},- per mnd. {{ end }} </p>
                <span>Forslaget er et estimat og inkluderer:</span>
            </label>
            <div class="valprop">
                <ul>
                    <li>frakt og klargjøring</li>
                    <li>vrakpantavgift</li>
                    <li>0 innskudd</li>
                    <li>15000 km/år</li>
                    <li>Fast rente</li>
                    <li>sommer- og vinterhjul</li>
                </ul>
                <p>Endelig pris tilpasses etter dialog rundt dine behov. Vi tilbyr avtaler fra 2 til 5 år
                Ref:</p>
            </div>
        </div>

        <div choices>
            <h4>Ønskede tilvalg:</h4>
            <!-- 2. Checkbox group for services -->
            <fieldset>
                <label for="service_bildekor"><input type="checkbox" id="service_bildekor" name="services[]" value="Bildekor">Bildekor</label>
                <label for="service_kjorebok"><input type="checkbox" id="service_kjorebok" name="services[]" value="Kjørebok digital">Kjørebok digital</label>
                <label for="service_forsikring"><input type="checkbox" id="service_forsikring" name="services[]" value="Forsikring">Forsikring</label>
                <label for="service_serviceavtale"><input type="checkbox" id="service_serviceavtale" name="services[]" value="Serviceavtale">Serviceavtale</label>
                <label for="service_dekkhotell"><input type="checkbox" id="service_dekkhotell" name="services[]" value="Dekkhotell">Dekkhotell</label>
                <label for="service_bombrikke"><input type="checkbox" id="service_bombrikke" name="services[]" value="Bombrikke">Bombrikke</label>
            </fieldset>
        </div>

        <div class="notat hva-skjer-notat">
            <span>Hva skjer etter henvendelsen?</span>
            <br>Vi kontakter deg etter innsendt skjema, for å finne den rette bilen for akkurat ditt behov
        </div>

        <div names>
            <input type="text" name="first_name" placeholder="Fornavn *" required>
            <input type="text" name="last_name" placeholder="Etternavn *" required>
        </div>
        
        <div contact>
            <input type="tel" name="phone" placeholder="Telefonnummer *" required>
            <input type="email" name="email" placeholder="E-post *" required>
        </div>

        <input type="text" name="orgnummer" placeholder="Personnummer / Org. nummer *" required>
        
        <textarea name="message" placeholder="Eventuelle spørsmål eller spesielle ønsker..."></textarea>

        <div acceptance>
            <label>
                <input type="checkbox" name="akseptert_nyhetsbrev" required>
                <span>Jeg godtar å bli kontaktet vedrørende dette tilbudet og samtykker til utsendelse av nyhetsbrev. *</span>
            </label>
            <a class="btn-marketing"></a>
            <div class="marketing-info">
                <p class="accept-text">
                    Ved å markere her så gir du aktivt samtykke til å sende deg tilbud, informasjon og oppdateringer fra Automedia AS. Dette kan når som helst trekkes tilbake.
                </p>
            </div>
        </div>

        <button type="submit">Send forespørsel</button>
    </form>
    <p>** Ved å legge inn personnummer så aksepterer du at det gjøres kredittvurdering. Dette er ikke et krav, men vil gjøre prosessen raskere.</p>
    <p><span>Automedia AS reserverer seg for feil eller mangler, samt alle justeringer på pris og utstyr.</span></p>
</div>